@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->
@ViewBag.Current Adresa de contact:<br /><br />

<address>
    ISG II Residence<br />
    Str. Fabrica de chibrituri, 13-15<br /> <br />
    <abbr title="Telefon">T:</abbr>
    0763530491
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bogdan.ungureanu89@gmail.com">bogdan.ungureanu89@gmail.com</a><br />
</address>