/* CSS Document */
#header{
	background-color:#13552F;
	color: #8CA406;
}
#imagine-bebe{
    padding:15px;
    align-items: flex-end;
    min-width: 300px;
    max-width:350px;
}

#titlu {
    padding-top: 80px;
    text-align:center;
}

#titlu a {
        color: #8CA406
}

#titlu a:hover{
    color:white;
    text-decoration: none;
}

#navbar-top{
	background-color: #13552F;
	border:none;
}

#navbar-top a{
	height:40px;
	color: #8CA406;
    width: inherit;
}

#navbar-top a:hover {
    color: white;
}

#navbar-top .navbar-inverse{
	background-color: #13552F;
}

#navbar-top .navbar-active{
	background-color: #011664;
	margin-top: 5px;
}

.navbar-active {
    background-color: #011664;
}

#navbar-top a.navbar-active{
	padding-top: 10px;
}

#navbar-top .navbar-active:hover {
    background: #060547;
}

#bottom-navbar{
	height: 60px;
	padding: 10px;
}

#bottom-navbar p{
	color: white;
	margin-top: 10px;
}

#dropdown a{
	background-color: #13552F;
}
#dropdown .dropdown-menu{
	background-color: #13552F;
	text-align: center;
}

#dropdown .dropdown-menu a{
	padding-top: 10px;
}

#title {
	text-align: center;
}

/* Lista Boli */

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/*Lista Simptome*/

#Checkboxes {
    max-height: 200px;
    width:400px;
    OVERFLOW-Y: scroll;
    overflow-x: hidden;
}

.panel-footer {
    text-align: center;
    margin-bottom: 0px;
}